# At least Ansible 2.12 is needed due to used features like 'argument_specs'
ansible>=2.12

# Required for testing

## ansible/yaml lint
ansible-lint~=25.1.2
yamllint~=1.36.0

## molecule tests
molecule~=25.2.0
molecule-plugins~=23.7.0
docker~=7.1.0
